.sideBar {
  .category-sideBar{
    .card-body{
      padding: 0!important;
    }
    .card-title{
      font-size: 18px!important;
    }
    .card-text{
      font-size: 14px!important;
  
    }
    .text-rating{
      font-size: 12px!important;
  
    }
  }
  .list-group {
    .head-menu {
      background-color: #252525;
    }
    .list-group-item {
      padding: 16px;
    }
  }

}